.container{
    position:absolute;
    top: 30px;
    left:100px;
    margin: 30px;
}

input.ng-invalid.ng-touched ,select.ng-invalid.ng-touched{
    border: 1px solid red;
}

span.help-block{
    color: red;
}

